[submodule ".registry"]
	path = .registry
	url = https://github.com/helske/universe
	shallow = true
	branch = HEAD
[submodule "bssm"]
	path = bssm
	url = https://github.com/helske/bssm
	shallow = true
	registered = true
[submodule "KFAS"]
	path = KFAS
	url = https://github.com/helske/KFAS
	shallow = true
	registered = true
[submodule "seqHMM"]
	path = seqHMM
	url = https://github.com/helske/seqHMM
	shallow = true
	registered = true
[submodule "walker"]
	path = walker
	url = https://github.com/helske/walker
	shallow = true
	registered = true
[submodule "Rlibeemd"]
	path = Rlibeemd
	url = https://github.com/helske/Rlibeemd
	shallow = true
	registered = true
[submodule "ramcmc"]
	path = ramcmc
	url = https://github.com/helske/ramcmc
	shallow = true
	registered = true
[submodule "diagis"]
	path = diagis
	url = https://github.com/helske/diagis
	shallow = true
	registered = true
[submodule "ggstudent"]
	path = ggstudent
	url = https://github.com/helske/gstudent
	shallow = true
	registered = true
[submodule "tsPI"]
	path = tsPI
	url = https://github.com/helske/tsPI
	shallow = true
	registered = true
[submodule "changer"]
	path = changer
	url = https://github.com/helske/changer
	shallow = true
	registered = true
[submodule "particlefield"]
	path = particlefield
	url = https://github.com/helske/particlefield
	shallow = true
	registered = true
