[submodule ".registry"]
	path = .registry
	url = https://github.com/helske/helske.r-universe.dev
	branch = HEAD
[submodule "KFAS"]
	path = KFAS
	url = https://github.com/helske/KFAS
[submodule "Rlibeemd"]
	path = Rlibeemd
	url = https://github.com/helske/Rlibeemd
[submodule "bssm"]
	path = bssm
	url = https://github.com/helske/bssm
[submodule "changer"]
	path = changer
	url = https://github.com/helske/changer
[submodule "diagis"]
	path = diagis
	url = https://github.com/helske/diagis
[submodule "ggstudent"]
	path = ggstudent
	url = https://github.com/helske/ggstudent
[submodule "particlefield"]
	path = particlefield
	url = https://github.com/helske/particlefield
[submodule "ramcmc"]
	path = ramcmc
	url = https://github.com/helske/ramcmc
[submodule "seqHMM"]
	path = seqHMM
	url = https://github.com/helske/seqHMM
[submodule "tsPI"]
	path = tsPI
	url = https://github.com/helske/tsPI
[submodule "walker"]
	path = walker
	url = https://github.com/helske/walker
